@tailwind base;
@tailwind components;
@tailwind utilities;

.imagen {
    width: 350px;
    height: 250px;
    }
    
    .container {
      text-align: center;
      color: rgb(245, 243, 243);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: rgb(1, 1, 1);
    }
    
    .titulo {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(242, 114, 94);
    }
    
    .nombre {
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
    }